/* App.css */

.app-container {
  display: flex;
  width: 800px;
  height: 600px;
  border-radius: 20px;
  box-sizing: border-box;
}

.content {
  background-color: transparent;
  height: 100%;
  flex-grow: 1;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content.logged-in {
  background-color: #fff; /* Chỉ có nền trắng khi đã đăng nhập */
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

